@model IEnumerable<MyStore.Core.Models.Order>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
    <h2></h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.CreatedAt)
        </th>
        <th>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.FirstName)
        </th>
        <th>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.LastName)
        </th>
        <th>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>*@
    <th>
        @Html.DisplayName(MyStore.WebUI.Resources.Resource.OrderStatus)
    </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.ActionLink(MyStore.WebUI.Resources.Resource.Manage_Order, "UpdateOrder", new { id = item.Id },new { @class = "btn btn-info" }) 
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
