@model IEnumerable<MyStore.Core.Models.OrderItem>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Quanity)
        </th>
        <th>Line Order</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Quanity)
            </td>
            <td>
                @String.Format("{0:c}", item.Price * item.Quanity) @*Displaying line total*@
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }
    @*Have a row that simply displays order total*@
    <tr>
        <td colspan="3" style="text-align:right">
            <strong>Order Total</strong>
        </td>
        <td>
            @String.Format("{0:c}", (from p in Model select p.Quanity * p.Price).Sum())
        </td>
    </tr>

</table>
