@{
    ViewBag.Title = "Admin";
}

    <h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Admin_Page)</h2>

<div class="col-md-6">
    <h4>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Product_Management)</h4>
    <div class="list-group">
        @*this is just going to create a link item to take us to our actual product category manager page*@
        @Html.ActionLink(MyStore.WebUI.Resources.Resource.ProductCategories, "Index", "ProductCategoryManager", null, new { @class = "list-group-item" })
        @*this will take us to our actual product manager page.*@
        @Html.ActionLink(MyStore.WebUI.Resources.Resource.Products, "Index", "ProductManager", null, new { @class = "list-group-item" })
    </div>
</div>
<div class="col-md-6">
    <h4>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Order_Management)</h4>
    <div class="list-group">
        @*this will take us to our order manager page.*@
        @Html.ActionLink(MyStore.WebUI.Resources.Resource.Orders, "Index", "OrderManager", null, new { @class = "list-group-item" })
    </div>
</div>

<div class="col-md-12 clearfix"/>
