@model IEnumerable<MyStore.Core.ViewModels.CartItemViewModel>

@{
    ViewBag.Title = "Cart";
} 
    <h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Shopping_Cart)</h2>
<table class="table">
    <tr>
        <th></th>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.ProductName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Quanity)*@
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Quanity)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Price)
        </th>
        <th>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Line_Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td><img class="img" style="height:150px" src="~/Content/ProductImages/@item.Image" /></td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quanity)
    </td>
    <td>
        @*Before I used $ but better way of doing this would be use a format method of the string*@
        @*I am telling it what format is going to be. 0 would be replaced by our price and c is saying that is foing to be formatted this currency
            and I just passed through what the actual value is way formatting. for this case is Price*@
        @string.Format("{0:c}", item.Price)
    </td>
    @*for our line total is going to be almost same except I must be the price multiplied by Quantity*@ 
    <td>@string.Format("{0:c}", item.Price * item.Quanity)</td>
    <td>
        <a href="@Url.Action("IncrementCartItem","Cart", new { Id = item.Id })" class="glyphicon glyphicon-plus"></a>
        <a href="@Url.Action("DecrementCartItem","Cart", new { Id = item.Id })" class="glyphicon glyphicon-minus"></a>
    </td>

    <td>
        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        @*For better format*@
        @*Actual url I used Url.Action link RemoveFromCart action in the CartController and going to pass through Id which wil be our item.Id*@
        @Html.ActionLink(MyStore.WebUI.Resources.Resource.RemoveFromCart,"RemoveFromCart","Cart", new { Id = item.Id }, new { @class="btn btn-danger btn-sm" })
        @*<a href="@Url.Action("RemoveFromCart","Cart", new { Id = item.Id })" class="btn btn-danger btn-sm">Remove From Cart</a>*@
    </td>
</tr>
}
<tr>
    <td colspan="4" style="text-align:right"><strong> @Html.DisplayName(MyStore.WebUI.Resources.Resource.Order_Total):</strong></td>
    @*I do not want to just an individual line out I want Item multiply by quantity if all the items in the cart. Created an in line linq query*@
    <td>@string.Format("{0:c}", (from p in Model select p.Price * p.Quanity).Sum())</td>
    @*Adding this item will allow them or give them a link to to to the check out page*@
<td>@Html.ActionLink(MyStore.WebUI.Resources.Resource.CheckOut, "CheckOut", "Cart", new { @class = "btn btn-success" })</td>
    @*<td><a href="@Url.Action("CheckOut","Cart")" class="btn btn-success">Check Out</a></td>*@
</tr>

</table>

