<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="site-title">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/ProductImages/CoskunKurukahveLogoe.jpeg" class="img-circle" alt="" width="150" height="60" />
                    </a>
                </p>
                @*@Html.ActionLink("Coskun Kurukahve", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home" )</li>*@
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>

                    @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))*@  
                     @*{*@
                    @*<li>@Html.ActionLink("Admin", "Index", "Admin")</li>*@ @*Replacing them with a link to our Admin main page*@
                    @*<li>@Html.ActionLink("Product Admin", "Index", "ProductManager")</li>*@
                    @*<li>@Html.ActionLink("Category Admin", "Index", "ProductCategoryManager")</li>*@
                     @*}*@
                </ul>
                @Html.Partial("_LoginPartial")
                @{ 
                    Html.RenderAction("CartSummary", "Cart");
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
