@model MyStore.Core.Models.Product

@{
    ViewBag.Title = "Delete";
}

    <h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Product_Deletion)</h2>

    <h3>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Are_you_sure_you_want_to_delete_this_product)?</h3>
<div>
    @*<h4>Product</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.ProductName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Price):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Category):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.Image):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=" @Html.DisplayName(MyStore.WebUI.Resources.Resource.Delete)" class="btn btn-danger" /> |||
            @Html.ActionLink(MyStore.WebUI.Resources.Resource.Back_to_List_of_Products, "Index",null,new { @class = "btn btn-success" })
        </div>
            }
        </div>
