
@model MyStore.Core.ViewModels.ProductManagerViewModel

@*@model MyStore.Core.Model.Product*@

@{
    ViewBag.Title = "Edit";
}

    <h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Product_Edition)</h2>


@*@using (Html.BeginForm())*@

@*Updates for uploading images*@
@using (Html.BeginForm("Edit","ProductManager", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>Product</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Product.Id)
    @*additional column created for uploading images*@

    <div class="col-lg-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Product.Image" />
    </div>
    <div class="col-lg-10">


        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name,MyStore.WebUI.Resources.Resource.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Description,MyStore.WebUI.Resources.Resource.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Price,MyStore.WebUI.Resources.Resource.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Category,MyStore.WebUI.Resources.Resource.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Product.Category, new SelectList(Model.ProductCategories, "Category", "Category"), new { htmlAttributes = new { @class = "form-control" } })

                @*@Html.EditorFor(model => model.Product.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Category, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Image,MyStore.WebUI.Resources.Resource.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Product.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Image, "", new { @class = "text-danger" })*@

                @*Updates for uploading images*@

                <input type="file" id="file" name="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Html.DisplayName(MyStore.WebUI.Resources.Resource.Save)" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(MyStore.WebUI.Resources.Resource.Back_to_List_of_Products, "Index",null,new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
