@model MyStore.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div class="col-md-2">
        <img class="img-responsive"  src="~/Content/ProductImages/@Model.Image" />
    </div>
    <div class="col-md-10">
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayName(MyStore.WebUI.Resources.Resource.Description):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayName(MyStore.WebUI.Resources.Resource.Price):
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Price)
            </dd>
            <dt></dt>
            @*Adding reference to Add to Cart button work*@
            <dd>@Html.ActionLink(MyStore.WebUI.Resources.Resource.AddToCart, "AddToCart", "Cart", new { Id = Model.Id }, new { @class = "btn btn-success" })</dd>
 
            <dd>@Html.ActionLink(MyStore.WebUI.Resources.Resource.Back_to_List_of_Products, "Index", null, new { @class = "btn btn-info" })</dd>
        </dl>
    </div>
</div>
<div class="col-md-12 clearfix" />@*To clear out any formatting.*@
