@*Listing product update*@
@model MyStore.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>
@*Created list filters on left side*@
<div class="col-md-2">
    <h4>Filter By Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new {@class = Request["Category"]==null? "list-group-item active" : "list-group-item"  })
        @foreach(var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category=cat.Category},new { @class = Request["Category"]==cat.Category? "list-group-item active" : "list-group-item"  })
        }
    </div>
</div>
    <div class="col-md-10">

        @foreach (var item in Model.Products)
        {
            <div class="col-md-3" style="height:350px;padding:10px;margin:10px;border:solid thin whitesmoke">
                <div class=" col-md-12">
                    <img class="img" style="height:175px" src="~/Content/ProductImages/@item.Image" />
                </div>
                <div class="col-md-12">
                    <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>

                </div>
                <div class="col-md-12">
                    <P>@item.Description</P>
                </div>
                <div class="col-md-12">
                    <h4>@item.Price</h4>
                </div>
                <div class="col-md-12">
                    @*Adding reference to Add to Cart button work*@
                    <a href="@Url.Action("AddToCart","Cart", new { Id = item.Id })" class="btn btn-default">Add To Cart</a>
                </div>
            </div>
        }
    </div>
 @*Clear fix which just basically clears any existing,formatting and columns and resets and lay out the might have this will just fix any issues with any 
 filters or anything we might wish to display underneath.*@
<div class="cold-md-12 claerfix" />

