@model MyStore.Core.Models.ProductCategory

@{
    ViewBag.Title = "Delete";
}

 <h2>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Product_Deletion)</h2>

 <h3>@Html.DisplayName(MyStore.WebUI.Resources.Resource.Are_you_sure_you_want_to_delete_this_product_category)?</h3>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(MyStore.WebUI.Resources.Resource.ProductCategory):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=" @Html.DisplayName(MyStore.WebUI.Resources.Resource.Delete)" class="btn btn-danger" /> |
            @Html.ActionLink(MyStore.WebUI.Resources.Resource.Back_to_List_of_Product_Categories, "Index",null,new { @class = "btn btn-success" })
        </div>
    }
</div>
